h1 {
  background-color: black;
  color: white;
  vertical-align: center;
  margin: 0;
  padding: 40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 200px 14px 200px;
  width: 33%;
  text-decoration: none;
}

li a:hover {
  color: #111;
}

@media screen and (min-width: 1001px) {
  li a {
    float: none;
    display: block;
    width: 33%;
    text-align: left;
  }
}

@media screen and (max-width: 501px) and (min-width: 1000){
  li a {
    float: none;
    display: block;
    width: 50%;
    text-align: left;
    padding: 14px 100px 14px 100px;
  }
}

@media screen and (max-width: 500px) {
  li a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    padding: 14px 50px 14px 50px;
  }
}


body {
  background-color: grey;
}