/*reference from https://www.w3schools.com/howto/howto_css_topnav_equal_width.asp
*/
h1 {
  background-color: black;
  color: white;
  vertical-align: center;
  margin: 0;
  padding: 40px;
}

.navbar-toggle {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar-toggle a {
  float: left;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 30%; 
  text-align: center;
}

.navbar-toggle a:hover {
  background-color: brown;
}

.navbar-toggle a.active {
  background-color: orange;
}

@media screen and (max-width: 900px) {
  .navbar-toggle a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

body {
  background-color: grey;
}