/*reference from https://www.w3schools.com/howto/howto_css_topnav_equal_width.asp
https://www.w3schools.com/howto/howto_css_responsive_form.asp In terms of responsive design
*/
h1 {
  background-color: black;
  color: white;
  vertical-align: center;
  margin: 0;
  padding: 40px;
}

.navbar-toggle {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar-toggle a {
  float: left;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 30%; 
  text-align: center;
}

.navbar-toggle a:hover {
  background-color: brown;
}

.navbar-toggle a.active {
  background-color: orange;
}

@media screen and (max-width: 900px) {
  .navbar-toggle a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.Container {
  border-radius: 5px;
  background-color: #f2f2f1;
  padding: 20px 30px 600px 30px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.row label {
  margin: 20px 30px 5px 10px;
  font-size: 17px;
}

.row input[type="search"] {
  -webkit-appearance:none;
  vertical-align: middle;
  margin: 20px 30px 5px 0;
  padding: 10px;
  width: 50%;
  height: 25px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.row button {
  float: left;
  margin: 25px 30px 5px 0;
  width: 10%;
  height: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {
  .row input[type="search"] {
    margin: 20px 30px 5px 10px;
    width: 97%;
  }
  .row button {
    float: left;
    width: 97%;
    margin-left: 10px;
}
  
.row {
    flex-direction: column;
    align-items: stretch;
  }
}

ul {
  box-sizing: border-box;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

ul li {
  position: relative;
  padding: 20px 8px 12px 40px;
  list-style: none;
}

ul li:nth-child(odd) {
  background: #e3e2de;
}

.close {
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 15px 20px;
  transform: translate(0%, -50%);
  font-family: Arial, sans-serif;
}

.close:hover {background: #d6d3c9;}